$primary-text-color: #111518;
$bg-color: #111518;
$backdrop-op90: rgba(17, 21, 24, 0.9);
$bg-color--gray: #e5e5e5;
$section-text-color: #3d3d3d;
$secundary-text-color: #b9b9b9;
$white-color: #ffffff;
$orange-style-color: #ff6b09;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
