<section class="advantages">
  <div class="container container-advantages">
    <h2 class="advantages__title visually-hidden">Заголовок</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="./images/icons.svg#man-group1"></use>
        </svg>
        <p class="advantages__text">Адаптированная авторская программа ВНО</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="./images/icons.svg#phone-group1"></use>
        </svg>
        <p class="advantages__text">Современные методики обучения</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon">
          <use href="./images/icons.svg#dollor-group1"></use>
        </svg>
        <p class="advantages__text">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>

<!-- <section class="problems section-problems">
  <div class="container">
    <h2 class="problems__title">
      Главные проблемы учеников на English ВНО, которые мы
      <span class="problems__colortext">помогаем</span> решить
    </h2>
    <ul class="problems__list">
      <li class="problems__item">
        <p class="problems__text">Название грамматики</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Неумение вомпринимать устную английскую речь</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Скупой словарный запас для написани сочинения</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Поодготовка в одиночку</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Отсутствие единого ресурса знаний</p>
      </li>
      <li class="problems__item">
        <p class="problems__text">Недостатой самоорганизации и лень</p>
      </li>
    </ul>
  </div>
</section> -->

