<section class="contacts" id="contacts">
    <div class="container">
        <h1 class="contacts__title">Регистрация на 
            <span class="contacts__selected-text" >бесплатную</span> телефонную 
            <span class="contacts__selected-text">консультацию</span> по нюансам ЗНО
            по английскому языку</h1>
            <p class="contacts__text">Оставь заявку на участие в
                <span class="contacts__selected-text">бесплатном занятии. </span>
            </p>
                <p class="contacts__text contacts__text--margin">С вами свяжется консультант и ответит на вопросы</p>
            <form class="contacts__form">
                <div class="form__name">
                    <input class="contacts__input contacts__input--name" name = "name" type="text"  pattern = "[А-Яа-я]{2,}" placeholder="Имя*" />
                </div>
                <div class="form__tel">
                    <input class="contacts__input contacts__input--tel" type="tel"  name = "tel" pattern = "[0-9]{10,}" placeholder="Телефон*" />
                </div>
                <button class="contacts__btn" type="submit">хочу на бесплатное занятие</button>
            </form>  
        </div>
</section>
