<footer class="footer">
  <div class="container container--footer">
    <a class="nav__logo nav__logo--footer" href="./index.html">
      <div class="nav__logo--hellen">
        <span class="nav__logo-hell">Hell</span>
        <svg class="nav__logo-icon">
          <use href="./images/icons.svg#fire"></use>
        </svg>
        <span class="nav__logo-en">EN</span>
      </div>
      <div class="nav__cont-text">
        <span class="nav__logo-text nav__logo-text--hell">адский</span>
        <span class="nav__logo-text nav__logo-text--en">английский </span>
      </div>
    </a>
    <!-- <ul class="communication__footer">
      <li class="communication__footer-item--tel">
        <a class="communication__footer-link" href="tel:+380000000000">
          <svg class="communication__footer-icon">
            <use href="./images/icons.svg#phone"></use>
          </svg>
          +38 (000) 000 00 00</a
        >
      </li>
      <li class="socials__thumb">
        <a class="socials__footer" href="#"
          ><img class="socials__image" src="../src/images/instagram 2x.png" alt="instagram"
        /></a>
      </li>
    </ul> -->
    <!-- <div class="communication"></div> -->
    <a class="communication__footer-link" href="tel:+380000000000">
      <svg class="communication__footer-icon">
        <use href="./images/icons.svg#phone"></use>
      </svg>
      +38 (000) 000 00 00</a
    >
    <a class="socials__footer" href="#"
      ><img class="socials__image" src="../src/images/instagram 2x.png" alt="instagram"
    /></a>
  </div>
  <div class="copyright">
    <div class="container">
      <p class="copyright__txt">&#169; Все права защищены, 2019</p>
    </div>
  </div>
</footer>
