<section class="hero">
    <div class="conteiner">
        <div>
            <h1 class="hero__title">
                Комплексная подготовка к ВНО
                по английскому языку
            </h1>
            
            <p class="hero__description">
                <span class="hero__description--jast">Просто не будет.</span><br>
                Но ты гарантировано наберешь<br>
                <span class="hero__description--bal">+25 баллов</span>
            </p>
        </div>
            <button class="hero__button">хочу на бесплатное занятие</button>
        <p class="hero__line">
            <img src="../src/images/hero-line-tablet.png"  alt="" >
          </p>
        
       
    </div>

</section>
