<!-- <section class="problems">
    <div class="container">
  <h2>Главные проблемы учеников на English ВНО, которые мы помогаем решить</h2>
</section>
<div class="p">
    <ol class="problems-list">
        <li class="problems-list__item">
            <p class="problems-list__text">Название грамматики</p>
        </li>
        <li lass="problems-list__item">
             <p class="problems-list__text">
                 Неумение вомпринимать
устную английскую речь
             </p>

        </li>
        <li lass="problems-list__item">
            <p class="problems-list__text">
                Скупой словарный запас
для написани сочинения
            </p>

        </li>
        <li lass="problems-list__item">
            <p class="problems-list__text">
                Поодготовка в одиночку
            </p>

        </li>
        <li lass="problems-list__item">
            <p class="problems-list__text">Отсутствие единого ресурса знаний</p>

        </li>
           <li lass="problems-list__item">
               <p class="problems-list__text">
                   Недостатой самоорганизации и лень
               </p>

        </li>
    </ol>

</div>
</div> -->

<section class="troubles background">
  <div class="container troubles__wrapper">
    <h2 class="heading-section troubles__title">
      Главные проблемы учеников<span class="troubles__title-br"> на English ВНО, которые</span> мы
      <span class="troubles__title-orange-word">помогаем</span> решить
    </h2>
    <ol class="troubles__list">
      <li class="troubles__list-item">Незнание грамматики</li>
      <li class="troubles__list-item">Неумение воспринимать устную английскую речь</li>
      <li class="troubles__list-item">Скупой словарный запас для написания сочинения</li>
      <li class="troubles__list-item">Подготовка в одиночку</li>
      <li class="troubles__list-item">Отсутствие единого ресурса знаний</li>
      <li class="troubles__list-item">Недостаток самоорганизации и лень</li>
    </ol>
  </div>
</section>
