.section-about {
  padding-top: 340px;
  max-width: 100%;
}
.container-about {
  @media screen and(max-width:767px) {
    width: 280px;
  }
  @media screen and (min-width: $tablet) and(max-width: 1279px) {
    width: 688px;
  }
  @media screen and(min-width:$desktop) {
    width: 1314px;
  }
}
