/* ОСОБЕННОСТИ */

.advantages {
  padding-top: 30px;
  display: block;

  @media screen and (min-width: $desktop) {
    padding-top: 93px;
    padding-bottom: 130px;
  }

  @media screen and (min-width: $tablet) {
    padding: 50px 0;
  }

  @media screen and (max-width: 767px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

.advantages__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  //   flex-basis: calc((100% - 60px) / 3);
  //   &:last-child {
  //     margin-right: 0;
  //   }
}

.advantages__item {
  position: relative;
  display: inline-block;

  @media screen and (max-width: 767px) {
    width: 216px;
  }
}

.advantages__icon {
  display: inline-block;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1279px) {
    width: 59px;
    margin-right: 27px;
  }
}

.advantages__text {
  max-width: 240px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.08em;
}

.advantages__text {
  position: absolute;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -17px;
  color: $primary-text-color;

  @media screen and (max-width: 1279px) {
    margin-top: 20px;
  }
}

/* ПРОБЛЕМЫ */

.section-problems {
  background-image: linear-gradient(to bottom, ($bg-color, 90%), ($white-color));
}
.problems {
  padding-top: 50px;
  background-color: $bg-color;

  @media screen and (max-width: $tablet) {
    padding: 50px 0;
  }
  @media screen and (max-width: $desktop) {
    padding: 0;
  }
}

.problems__colortext {
  color: $orange-style-color;
}

.problems__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: $white-color;

  @media screen and (max-width: $desktop) {
    max-width: 568px;
    padding-top: 56px;
    padding-bottom: 25px;
    padding-left: 42px;
    padding-right: 158px;
    font-size: 20px;
    line-height: 1.3;
  }
  @media screen and (max-width: $mobile) {
    max-width: 280px;
    padding-top: 50px;
    // padding-bottom: 27px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 1.35;
  }
}

.problems__text {
  display: block;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.08em;
  color: $primary-text-color;

  @media screen and (max-width: $mobile) {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42;
  }
  @media screen and (max-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42;
  }
}

.problems__list {
  display: flex;
  counter-reset: item 0;
  flex-wrap: wrap;
  background-color: $white-color;

  @media screen and (max-width: 479px) {
    max-width: 280px;
    margin-bottom: 50px;
    margin: 40px;
  }

  @media screen and (max-width: 767px) {
    max-width: 688px;
    display: flex;
  }

  @media screen and (max-width: 1279px) {
    display: flex;
  }
}

// @media (max-width: 767px) {
//   width: 100%;
//   justify-content: center;
// }

// .problems__list {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   // display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
// }

.problems__item {
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-left: -30px;
  padding-right: 14px;

  // @media screen and (max-width: 479px) {
  //   max-width: 236px;
  // }
}
.problems__list {
  flex-basis: calc((100% - 60px) / 3);

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.problems__item {
  &::before {
    content: ' – ' counter(item, decimal-leading-zero);
    counter-increment: item;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: $orange-style-color;
  }
}
