.contacts {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: rgba(17, 21, 24, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(black,0.6), rgba(black,0.6)),
  url(../images/contacts-bg.jpg);
}

.contacts__title {
  margin-bottom: 30px;
}

.contacts__text {
  margin-bottom: 30px;
}

.contacts__input {
  display: block;
  width: 100%;
  padding-left: 28px;
  padding-bottom: 16px;
  padding-top: 15px;
  background-color: transparent;
  border: 1px solid #FFFFFF;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #fff;
  }
}

.contacts__input--name {
  margin-bottom: 20px;
}

.contacts__input--tel {
  margin-bottom: 50px;
}

input:invalid {
    border: red solid 1px;
  }

.contacts__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
}

.contacts__title {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.03em;
}

.contacts__selected-text {
  color: $orange-style-color;
}

.contacts__btn {
  background-color: $orange-style-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 14px 5px;
  color: #fff;
  border: none;
}