.contacts {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: rgba(17, 21, 24, 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(black,0.8), rgba(black,0.8)),
  url(../images/contacts-mobil.jpg);
  

  @media screen and(min-width: $tablet) {
    background-image: linear-gradient(to right, rgba(black,0.8), rgba(black,0.8)),
  url(../images/contacts-tablet.jpg);
  
  padding-bottom: 71px;

  
  }

  @media screen and(min-width: $desktop) {
    background-image: linear-gradient(to right, rgba(black,0.8), rgba(black,0.8)),
  url(../images/contacts-desktop.jpg);
  
  padding-bottom: 62px;
  padding-top: 100px;

  }
}

.contacts__title {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.03em;

  margin-bottom: 30px;

  @media screen and(min-width: $tablet) {
    font-size: 26px;
    line-height: 1.308;
  }

  @media screen and(min-width: $desktop) {
    font-size: 46px;

    margin-bottom: 50px;
  }
}

.contacts__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;

  @media screen and(min-width: $tablet) {
    font-size: 14px;
    line-height: 1.214;
  }

  @media screen and(min-width: $desktop) {
    font-size: 30px;
    line-height: 1.233;
  }
}

.contacts__text--margin {
  margin-bottom: 30px;

  @media screen and(min-width: $desktop) {
    margin-bottom: 56px;
  }
}

.contacts__input {
  padding-left: 28px;
  padding-bottom: 16px;
  padding-top: 15px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color:#fff;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;

  min-width: 280px;
  
  @media screen and(min-width: $tablet) {
    width: 390px;
  }

  @media screen and(min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;

    padding-left: 40px;
    padding-bottom: 23px;
    padding-top: 23px;

    width: 478px;
    }
  

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #fff;
  }
}

.form__name {
  margin-bottom: 20px;

  @media screen and(min-width:$desktop) {
    margin-bottom: 30px;
    }
}

.form__tel {
  margin-bottom: 50px;

  @media screen and(min-width:$tablet) {
    margin-bottom: 31px;
    }

    @media screen and(min-width:$desktop) {
      margin-bottom: 80px;
      }
}

input:invalid {
    border: red solid 1px;
  }

.contacts__selected-text {
  color: $orange-style-color;
}

.contacts__btn {
  background-color: $orange-style-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 14px 5px;
  color: #fff;
  border: none;

  @media screen and(min-width:$desktop) {
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;

  padding: 26px;
    }
}