.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  &--footer {
    padding-top: 52px;
    padding-bottom: 52px;
    justify-content: space-between;
    display: flex;

    @media screen and(min-width:768px) and(max-width:1279px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @media screen and(max-width:767px) {
      padding-top: 30px;
      padding-bottom: 30px;
      flex-direction: column;
      align-items: center;
    }
  }
}

.nav__logo--footer {
  @media screen and(max-width:767px) {
    margin-bottom: 20px;
  }
}

.communication {
  &__footer {
    &-link {
      display: flex;
      align-items: center;
      color: $primary-text-color;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.21;
      letter-spacing: 0.08em;

      color: $primary-text-color;

      @media screen and (min-width: 1280px) {
        margin-left: auto;
        font-size: 30px;
        line-height: 1.23;
      }

      @media screen and(min-width:768px) {
        border-right: 1px solid $secondary-text-color;
        margin-right: 24px;
        padding-right: 24px;
      }

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-left: auto;
        font-size: 20px;
        line-height: 1.2;
      }

      @media screen and(max-width:767px) {
        margin-bottom: 30px;
      }
    }
    &-icon {
      width: 30px;
      height: 30px;
      margin-right: 10px;

      @media screen and(min-width:1280px) {
        margin-right: 15px;
      }

      @media screen and(min-width:768px) and(max-width:1279px) {
        width: 24px;
        height: 24px;
      }

      @media screen and(max-width:767px) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &-item--tel {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.23;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.socials {
  &__footer {
    width: 40px;
    display: flex;
    align-items: center;

    @media screen and(min-width:1280px) {
      margin-right: auto;
    }
  }
  &__image {
    width: 40px;
  }
}

.copyright {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background-color: $bg-color;

  &__txt {
    color: $secondary-text-color;

    @media screen and(max-width:767px) {
      text-align: center;
    }
  }
}
