.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:768px) and(max-width:1279px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.container--footer {
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  display: flex;

  @media screen and(max-width:767px) {
    flex-direction: column;
    align-items: center;
  }
}

.nav__logo--footer {
  @media screen and(max-width:767px) {
    margin-bottom: 30px;
  }
}

.communication__footer {
  display: flex;
  &-link {
    color: $primary-text-color;
  }

  &-item--tel {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.23;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.communication__footer-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;

  @media screen and(min-width:1280px) {
    margin-right: 15px;
  }

  @media screen and(min-width:768px) and(max-width:1279px) {
    width: 24px;
    height: 24px;
  }

  @media screen and(max-width:767px) {
    width: 20px;
    height: 20px;
  }
}

.socials {
  &__thumb {
    width: 40px;
    height: 40px;
  }
  &__footer {
    margin: 0;
    padding: 0;
  }
  &__image {
    width: 100%;
  }
}

/* .communication {
  @media screen and(min-width:1280px) {
    width: 487px;
  }

  @media screen and(min-width:768px) and(max-width) {
    width: 358px;
  }

  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__item {
    padding: 24px;

    @media screen and(max-width:767px) {
      margin-bottom: 30px;
    }
  }
  &__link {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;

    color: $primary-text-color;

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.23;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;

    @media screen and(min-width:1280px) {
      margin-right: 15px;
    }

    @media screen and(min-width:768px) and(max-width:1279px) {
      width: 24px;
      height: 24px;
    }

    @media screen and(max-width:767px) {
      width: 20px;
      height: 20px;
    }
  }
} */

.copyright {
  &__txt {
    color: $secondary-text-color;

    @media screen and(max-width:767px) {
      text-align: center;
    }
  }

  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background-color: $bg-color;
}
