.guarantee {
//   align-items: center;  
  @media screen and(max-width: 479px) {
    width: 100%;  
  } 
  @media screen and(min-width: 480px) {
    // width: 480px;  
  }
  @media screen and(min-width: 768px) {
    width: 100%;  
  } 
  @media screen and(min-width: 1280px) {
    // width: 1314px;  
    width: 100%;
  } 
}

.guarantee__name {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 130%;

  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-text-color;

  @media screen and(min-width: 768px) {
    
    font-size: 46px
  }
}

.guarantee__list {
  position: relative;
  padding: 30px 20px;
  background-color: #F1F1F1;
  @media screen and(min-width: 768px) {
    padding: 30px 50px 30px 79px;  
  } 

  @media screen and(min-width: 1280px) {
    padding: 50px 112px 45px 112px;  
  }
}

.guarantee__item {
  display: flex;
}

.guarantee__item:not(:last-child) {
  margin-bottom: 23px;
}

.guarantee__item::before {
  position: relative;
  margin-right: 20px;
  display: inline-flex;
  content: "";
  width: 20px;
  height: 20px;
  z-index: 1;
  
  background-image: url('../../src/images/fier.png');

  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  // border-top: 1px dashed $secondary-text-color;
  // border-inline-start: 2px dotted red ;
  //   outline: 1px solid tomato;
}

.guarantee__border {
  position: absolute;
  top: 17%;
  left: 1.2%;
  height: 58%;
  padding-right: 20px;
  border-inline-end: 1px dashed $secondary-text-color;
  z-index: 0;
  @media screen and(min-width: 768px) {
    top: 19%;
    left: 67px;
    height: 58%;
  }

  @media screen and(min-width: 1280px) {
    top: 17%;
    left: 100px;
    height: 58%;
  }
}
 

.guarantee__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: $section-text-color;
  @media screen and(min-width: 768px) {
    
    // font-size: 20px
  }

  @media screen and(min-width: 1280px) {
    
    font-size: 20px
  }
}

.guarantee__modified-text {
  color: $orange-style-color;
}