.hero {
  background-image: url(../../src/images/hero-mobil.png);

  background-repeat: no-repeat;
  background-position: center bottom 47px;
  height: 618px;
  width: 100%;
  padding-top: 109px;
  position: relative;
  overflow: hidden;
  margin-top: -59px;
  position: relative;
  overflow: hidden;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../../src/images/hero-mobil2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../../src/images/hero-tablet.png);
    height: 558px;
    background-repeat: no-repeat;
    background-position: right 18px bottom 64px;
    padding-top: 158px;
    margin-top: -94px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../../src/images/hero-tablet2x.png);
  }
}

.conteiner__hero {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  margin-left: auto;
  margin-right: auto;
  padding-right: 42px;
  padding-left: 42px;
  display: flex;
  flex-direction: column;
}

.hero__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  margin-bottom: 30px;
  width: 280px;
}

.hero__description {
  width: 280px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  margin-bottom: 30px;

  &--jast {
    color: $secondary-text-color;
  }

  &--bal {
    color: $orange-style-color;
  }
}

.hero__button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 14px 0;
  max-width: 260px;

  color: $white-color;
  background-color: $orange-style-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  margin-bottom: 30px;
}

@media screen and(min-width: 1280) {
  .hero__button {
    min-width: 354px;
    padding: 27px 25px;
  }
}

.hero__img {
  padding-bottom: 47px;
  min-width: 208px;
}

.hero__line {
  position: absolute;
  top: 40px;
  left: -64px;
  z-index: -1;
  max-width: 100vw;

  @media screen and (min-width: 768px) {
    top: 0;
    left: 0;
  }
}
