.hero {
  overflow: hidden;
  background-image: url(../../src/images/hero-mobil.png), url(../../src/images/hero-line-tablet.png);
  background-repeat: no-repeat;
  background-position: top 394px right 50%, top 40px left -64px;
  padding-top: 110px;
  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //   background-image: url(../../src/images/hero-mobil2x.png),
  //     url(../../src/images/hero-line-tablet.png);
  // }

  @media screen and (min-width: 768px) {
    background-image: url(../../src/images/hero-tablet.png),
      url(../../src/images/hero-line-tablet.png);
    background-position: top 171px left 374px, top 0px left 0;
    // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //   background-image: url(../../src/images/hero-tablet2x.png);
    // }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../../src/images/hero-desktop.png),
      url(../../src/images/hero-line-desktop.png);
    background-position: top 149px left 717px, top 0 left 50%;
    // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    //   background-image: url(../../src/images/hero-desktop2x.png);
    // }
  }
}

.conteiner__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 225px;

  @media screen and (min-width: 768px) {
    display: block;
    padding-top: 70px;
    padding-bottom: 65px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    padding-top: 70px;
    padding-bottom: 200px;
    margin-bottom: 0;
  }
}

.hero__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  width: 280px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    width: 642px;
  }
}

.hero__description {
  width: 280px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  margin-bottom: 30px;

  &--jast {
    color: $secondary-text-color;
  }

  &--bal {
    color: $orange-style-color;
  }
}

.hero__button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 14px 0;
  max-width: 260px;

  color: $white-color;
  background-color: $orange-style-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-decoration: none;
  margin-bottom: 30px;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    padding: 26px 26px;
    max-width: 354px;
  }
}

@media screen and(min-width: 1280) {
  .hero__button {
    min-width: 354px;
    padding: 27px 25px;
  }
}

