.how-we-do {
  //   display: flex;   
}

.list-name {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  
  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-text-color;

  @media screen and(min-width: 768px) {
    text-align: center;
    font-size: 26px
  }

  @media screen and(min-width: 1280px) {
    margin-bottom: 50px;
    font-size: 46px;
    text-align: left;
  }
}

.card__set {
  // display: flex;
  // flex-wrap: wrap;
  @media screen and (min-width: 768px ) {
    flex-wrap: wrap;
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
    
  }
}

.card__item {
  width: 100%;

  &:not(:last-child) {
    // margin-bottom: 15px;
  }

  
  @media screen and(max-width: 479px) {
    width: 100%;  
  } 

  @media screen and(min-width: 480px) {
    // width: 480px;  
  }

  @media screen and(min-width: 768px) {
    // // width: 334px;
    // margin-top: 20px;
    // margin-left: 20px;

    // flex-basis: calc(100% / 2 - 80px);
    // width: 334px;
    // // margin-left: 20px;
    // // margin-top: 20px;

    // &:nth-child(n + 5) {
    //   // margin-bottom: 0;
    // }

    // width: 334px;
    // margin-top: 20px;
    // margin-left: 20px;

    flex-basis: calc(100% / 2 - 80px);
    margin-left: 20px;
    margin-top: 20px;  

    &:nth-child(n + 5) {
      // margin-bottom: 0;
    }
  }
  
  @media screen and(min-width: 1280px) {
    width: 425px;
    // margin-top: 15px;
    // margin-left: 20px;

    flex-basis: calc(100% / 3 - 80px);
    margin-left: 20px;
    margin-top: 20px;

    &:nth-child(n + 6) {
      // margin-bottom: 0;
    }

  }

  transition: background-color $timing-function;

  // outline: 1px solid greenyellow;
}

.card__item:hover {
  background-color: $orange-style-color;
}

.card__link {
  padding: 30px 115px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__animals {
  fill: $orange-style-color;
  align-items: center;
}

.card__item:hover {
  fill: $white-color;
}

.card__name {
  padding: 0 20px 20px;  
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;

  text-align: center;
  letter-spacing: 0.08em;

  color: $primary-text-color;

  @media screen and(min-width: 1280px) {
    
    font-size: 20px;
    
  }
}

.card__item:hover .card__name{
  color: $white-color;
}

.card__link-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__line {
  fill: $orange-style-color;  
}

.card__item:hover .card__line {
  fill: $white-color;
}

.card__item:hover .card__animals {
  fill: $white-color;
}

.card__text {
  padding: 20px 20px 20px; 
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;


  text-align: center;
  letter-spacing: 0.08em;

  color: $secondary-text-color;
  
  @media screen and(min-width: 1280px) {
    padding: 32px 30px 55px; 
    font-size: 18px;
    
  }
}

.card__item:hover .card__text {
  color: $white-color;
}