.js-menu-container {
  overflow: auto;

  background-color: $backdrop-op90;
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 42px 40px;

  transform: translateY(-100%);
  opacity: 0;
  transition: transform $timing-function, opacity $timing-function;

  z-index: 1000;

  @media screen and(max-width:767px) {
    padding: 30px 20px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.js-menu-container.is-open {
  opacity: 1;
  transform: translateY(0);
}

.js-menu-container .menu-toggle__close {
  position: absolute;
  top: 23px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;

  &:hover,
  &:focus {
    fill: currentColor;
    cursor: pointer;
  }

  @media screen and(min-width:768px) {
    top: 45px;
    right: 37px;
  }
}

.menu-toggle__button-icon {
  width: 24.5px;
  height: 24.5px;
  fill: $white-color;
}

.nav-mobile {
  margin-top: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;

  &__link {
    display: block;
    color: $white-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      margin-bottom: 12px;
    }

    &:hover,
    &:focus {
      color: $orange-style-color;
    }
  }

  @media screen and(min-width:768px) {
    padding: 0;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    width: 332px;
  }
}

.nav-menu__button {
  transition: fill $timing-function;

  &:hover,
  &:focus {
    fill: $orange-style-color;
  }

  &__button-icon {
    fill: currentColor;
  }
}

.consultation__tel--mob {
  margin-top: 50px;
  display: block;
  text-align: center;
  margin-right: auto;
  padding: 14px 0;

  width: 260px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: $orange-style-color;
  border: 2px solid $orange-style-color;

  @media screen and(min-width:768px) {
    display: none;
  }
}
