/* ПРОБЛЕМЫ */

.problems {
  position: relative;
  background-image: linear-gradient(to bottom, ($bg-color 80%), ($white-color 20%));
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 100px;
    padding-bottom: 130px;
    // background-image: url(../images/problems-fire@1.png);
    // background-size: 445px;
    // background-repeat: no-repeat;
    // background-position: bottom 0 right 0;
  }
}

.problems__title {
  width: 235px;
  margin-bottom: 27px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  color: $white-color;

  @media screen and (min-width: $tablet) {
    width: 450px;
    font-size: 26px;
    line-height: 1.3;
  }
  @media screen and (min-width: $desktop) {
    width: 866px;
    margin-bottom: 70px;
    font-size: 46px;
    line-height: 1.3;
  }
}

.problems__colortext {
  color: $orange-style-color;
}

.problems__wrapper {
  background-color: $white-color;
  @media screen and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 26px;
    padding-left: 96px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 114px;
    padding-top: 70px;
    padding-bottom: 94px;
  }
}

.problems__list {
  margin: 0;
  padding: 0;
  counter-reset: item 0;

  @media screen and (max-width: 767px) {
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
  }
}

// @media (max-width: 767px) {
//   width: 100%;
//   justify-content: center;
// }

.problems__item {
  width: 236px;
  align-items: center;
  justify-content: center;
  &::before {
    content: ' – ' counter(item, decimal-leading-zero);
    counter-increment: item;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: $orange-style-color;
  }

  @media screen and (min-width: $tablet) {
    &:not(:nth-child(2n)) {
      margin-right: 22px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 336px;
    &:not(:nth-child(3n)) {
      margin-right: 40px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 32px;
    }
  }
}
// .problems__list {
//   flex-basis: calc((100% - 60px) / 3);

//   &:nth-child(3n) {
//     margin-right: 0;
//   }
// }

.problems__text {
  margin-top: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.08em;
  color: $primary-text-color;

  @media screen and (max-width: $tablet) {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.43;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.4;
  }
}
