.section-program {
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 424px;
  background-color: $bg-color;
  background-position: bottom 330px right -8px;
  background-image: url(../images/program-mobile.png);
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/program-mobile@2x.png);
  }

  @media screen and(min-width:$tablet) {
    padding-top: 60px;
    background-size: 384px 280px;
    background-position: bottom 330px right -18px;
    background-image: url(../images/program-tablet.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/program-tablet@2x.png);
    }
  }
  @media screen and (min-width: $desktop) {
    padding-top: 130px;
    background-size: 760px;
    background-position: bottom 110px left -250px;
    background-image: url(../images/program-desktop.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/program-desktop@2x.png);
    }
  }
}

.program__title {
  margin-bottom: 43px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: $white-color;

  @media screen and(min-width:$tablet) {
    margin-bottom: 52px;
    text-align: left;
  }
  @media screen and (min-width: $desktop) {
    font-size: 46px;
    margin-bottom: 160px;
  }
}

.program__list {
  position: relative;
  width: 100%;
  margin: 0 auto;

  @media screen and(max-width:767px) {
    padding-left: 74px;
    &::before {
      content: '';
      position: absolute;
      height: 93%;
      width: 1px;
      background-color: $white-color;
      left: 50px;
      top: 10px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    padding-left: 118px;

    &::before {
      content: '';
      position: absolute;
      height: 90%;
      width: 2px;
      background-color: $white-color;
      left: 74px;
      top: 10px;
    }
  }

  @media screen and(min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      width: 103vw;
      background-color: $white-color;
      top: -60px;
      left: -60px;
    }
  }
}

.program__item {
  margin-left: 0;

  @media screen and (max-width: 1279px) {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}

.program__item-title {
  position: relative;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $white-color;

  @media screen and(max-width:767px) {
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $orange-style-color;
      left: -29px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $orange-style-color;
      left: -49px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.4;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background-color: $orange-style-color;
      left: 0px;
      top: -60px;
      transform: translateY(-50%);
    }
  }
}
.program-term {
  padding-left: 0;
  @media screen and(min-width:$tablet) {
    display: flex;
  }
  @media screen and(min-width: $desktop) {
    flex-direction: column;
  }
}

.program-term__title {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.66;
  align-items: center;
  letter-spacing: 0.08em;
  color: $orange-style-color;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 15px;
    height: 2px;
    background-color: $orange-style-color;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 30px;
    font-size: 20px;
    line-height: 1.66;
    &::before {
      width: 20px;
      left: 0;
      height: 2px;
    }
  }
}

.program-term__item {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 180px;
    margin-right: 50px;
  }
  @media screen and(min-width: $desktop) {
    width: 240px;
  }
}

.program-term__subjects {
  margin-bottom: 20px;
  padding: 0;

  &:last-child {
    margin-bottom: 0px;
  }
  @media screen and(min-width:$tablet) {
    margin-right: 50px;
  }
}

.program-term__subjects-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.08em;
  color: $secondary-text-color;
  opacity: 0.5;
  @media screen and(min-width: $desktop) {
    font-size: 18px;
    line-height: 1.55;
  }
}
.container-images {
  position: relative;
}

.program-images {
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 0;
    right: -15px;
  }
  @media screen and(min-width: $desktop) {
  }
}
