.reviews {
  padding-top: 50px ;
  padding-bottom: 50px;
}

.reviews__data {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;

  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  
  @media screen and(min-width: 768px) {
    font-size: 26px;
  }
  @media screen and(min-width: 1280px){
    font-size: 46px;
  }
}

.reviews__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  @media screen and(min-width: 768px){
    justify-content: center;
  }
}

.reviews__item {
  // width: 100px;
  height: auto;
  padding: 20px 20px 30px 20px;
  margin-top: 20px;
  background: #FFFFFF;
  
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  @media screen and(min-width: 768px) {
    // width: 688px;
    display: flex;
    padding: 40px 40px 40px 40px;
    margin-top: 30px;
  } 
  @media screen and(min-width: 1280px){
    width: 1090px;
    padding: 50px 112px 51px 82px;
    margin-top: 50px;
  }
}

.reviews__div {
  @media screen and(min-width: 768px) {
    margin-right: 40px;
  }
}

.reviews__imag {
  width: 150px;

}

.reviews__link {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.reviews__name {
  margin-top: 20px;  
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-align: center;

  color: $orange-style-color;

  @media screen and(min-width: 768px) {
    font-size: 20px;
    text-align: start;
    margin-top: 0;
  }
  @media screen and(min-width: 1280px){
    font-size: 30px;
  }
}

.reviews__text-one {
  margin-top: 10px;  
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: $secondary-text-color;
  text-align: center;
  @media screen and(min-width: 768px) {
    text-align: start;
    margin-top: 20px;
  }
  @media screen and(min-width: 1280px){
    font-size: 14px;
  }
}

.reviews__text-too {
  margin-top: 10px;  
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  color: $section-text-color;
  text-align: center;
  @media screen and(min-width: 768px) {
    text-align: start;
    margin-top: 20px;
  }
  @media screen and(min-width: 1280px){
    font-size: 18px;
  }
}

.reviews__text-modified {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  text-decoration-line: underline;
  color: $orange-style-color;
  @media screen and(min-width: 1280px){
    font-size: 18px;
  }
}


.reviews__animals-left-arrowl{
  position: absolute;
  left: 0;
  bottom: -47.3%;
  @media screen and(min-width: 768px){
    left: 0;
    bottom: 9.5%;
  }
}

.reviews__animals-right-arrowr{
  position: absolute;
  right: 0;
  bottom: 1%;
  @media screen and(min-width: 768px){
    right: 0;
    bottom: 58%;
  }
}



.reviews__item-too {
  display: flex;
  margin-top: 20px;
  @media screen and(min-width: 768px){
    margin-top: 30px;
  }

  @media screen and(min-width: 1280px){
    margin-top: 40px;
  }
}

.reviews__thumb-too {
  margin-right: 30px;

}

.reviews__thumb-too:nth-child(n + 4) {
  @media screen and(max-width: 767px){
    display: none;
  }
}

.reviews__list-too {
  display: flex;
}